*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
}

.left-side{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url("resources/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.left-side #photo-credits
{
    
    font-size: 15px;
    color: rgb(255, 255, 255);
    align-self: center;
   margin-top: auto;
   margin-bottom: 10px;
    
    
}

#photo-credits a 
{
    color: white;
}

.logo
{
    margin-top: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(9, 9, 9, 0.5);
   
    
}

.logo p
{
    color: white; 
    font-size: 5rem;
}

.logo img{
    height: auto;
    width: 15%;
}

.right-side{
    flex: 5;
    background-color: #f9fafb;
}

.message,
form p{
    font-size: 28px;
    font-weight: 500;
    
}

.message .italic{
    font-style: italic;
}

.message{
    margin-top: 15%;
    padding-right: 15%;
    padding-left: 5%;

}

.message p:first-child{
    margin-bottom: 2rem;
}

form{
    padding: 2% 0 2% 0;
    margin-top: 4%;
    margin-bottom: 2%;
    background-color: #fffffe ;
   box-shadow: 0px 20px 20px -20px rgb(188, 182, 182);
}

form p{
    color:#252e3c;
}

form p,
.inputs,
.right-side .bottom{
margin-left: 5%;

}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}


.inputs
{
    display: flex;
}

.column
{

    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 10%;
}

.column label
{
    font-size: 13px;
    color: #252e3c;
}

.column input{
    margin-bottom: 20px;
    border-radius: 4px;
    width: 280px;
    height: 30px;
    border: 1px solid #E5E7EB;
    padding: 0 8px;
   
}

input:focus
{
    outline: none;
    border: 1px solid blue;
     box-shadow: 2px 2px 5px rgb(188, 182, 182);
}

input[type="password"]:user-invalid
{
    border: 1px solid rgb(255, 0, 0);

}

.bottom button
{
    margin-bottom: 2%;
    background-color: #586c49;
    border: 0px;
    width: 250px;
    height: 45px;
    color: white;
    font-size: 18px;
    border-radius: 12px;
}

.bottom button:hover
{
    cursor: pointer;
}

.bottom a{
    text-decoration: none;
    color: #586c49;
}

